/* White mode */

:root{
 --bg: #f6fff6;
 --text: #203020;
 --card: #ffffff;
 --border: #d8f5d8;

 --accent: #48b368;
 --accent-soft: #83d49c;
 --shadow: rgba(72, 179, 104, 0.15);
}

/* Dark mode */

html.dark{
 --bg: #101a10;
 --text: #e9ffe9;
 --card: #1d2b1d;
 --border: #355a35;

 --accent: #7df0a1;
 --accent-soft: #9cffbe;
 --shadow: rgba(125, 240, 161, 0.25);
}

/* Characters */

body{
 background: var(--bg);
 color: var(--text);
 font-family: "Poppins", sans-serif;
 margin: 0;
 transition: background .25s ease, color .25s ease;
}

a{
 color: var(--accent);
 text-decoration: none;
}

/* Navigation bar */
.main-header{
 background: var(--card);
 border-bottom: 2px solid var(--accent);
}


.navbar-brand{
 color: var(--text) !important;
 font-weight: 700;
}

.navbar-brand:hover{
 color: var(--accent) !important;
}

.nav-link{
 color: var(--text) !important;
 font-weight: 500;
}

.nav-link:hover{
 color: var(--accent) !important;
}

.logo-img,
.footer-logo{
 width: 50px;
 height: 50px;
 border-radius: 8px;
}

/* Theme*/
.theme-toggle{
 display: inline-flex;
 align-items: center;
 gap: 6px;
 padding: 6px 14px;
 border-radius: 999px;
 border: 1px solid var(--border);
 background: var(--card);
 color: var(--text);
 cursor: pointer;
}

.theme-toggleicon{
 font-size: 20px;
}

/* Carousel*/
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M11 1 3 8l8 7V1z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 16 16'%3E%3Cpath d='M5 1v14l8-7-8-7z'/%3E%3C/svg%3E");
}


/* Footer */
.main-footer{
 background: var(--card);
 border-top: 2px solid var(--accent);
}

.footer-link{
 color: var(--accent);
 font-weight: 600;
}

