/* ===============================
   Tasks
================================ */

#todayTasks, 
#completedTasks {
    background: var(--card);
    border: 1px solid var(--border);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 8px 22px var(--shadow);
    margin-bottom: 15px;
    width: 90%; 
    max-width: 800px; 
    align-self: center;
}

.task-item {
    border: 1px solid var(--border);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Tasks that are completed */

.dept-storage {
    background-color: rgb(190, 110, 243);
}

.dept-cleaning {
    background-color: rgb(101, 133, 238);
}

.completed-task {
    background-color: lightgreen; 
}